{% extends 'blog/base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="post">
        <h1 class="mb-4">{{ post.title }}</h1>

        {% if post.published_date %}
        <p class="text-muted mb-3"><i class="fas fa-calendar-alt"></i> Опубликовано: {{ post.published_date|date:"F j, Y" }}
            {% if user.is_superuser %}
            <a class="btn btn-outline-primary btn-sm float-end" href="{% url 'post_edit' pk=post.pk %}">
                <i class="fas fa-edit"></i> Изменить статью
            </a>
            {% endif %}
        </p>
        {% endif %}

        <div class="post-content">
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
    </div>
</div>
{% endblock %}
